<h1>グループ：<%= e @group.name %></h1>

<hr>

<h2>メンバー</h2>

<ul class="list-group">
  <% @group.memberships.each do |membership| %>
  <li class="list-group-item">
    <% if membership.user_name == @group.owner_name %>
    <span class="btn btn-xs btn-success">オーナー</span>
    <% end %>
    <%= e membership.user_name %>
  </li>
  <% end %>
</ul>

<% if session[:user].owner_of?(@group.name) %>

<h2>参加申請一覧</h2>

<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <% @group.requests.each do |req| %>
    <tr>

      <td>
        <%= e req.user_name %>
      </td>

      <td>
        <form method="post" action="/group/accept_request">
          <input name="authenticity_token" value="<%= e session[:csrf] %>" type="hidden" />
          <input type="hidden" name="request_id" value="<%= e req.id %>" />
          <button type="submit" class="btn btn-primary">承認</button>
        </form>
      </td>

      <td>
        <form method="post" action="/group/reject_request">
          <input name="authenticity_token" value="<%= e session[:csrf] %>" type="hidden" />
          <input type="hidden" name="request_id" value="<%= e req.id %>" />
          <button type="submit" class="btn btn-default">拒否</button>
        </form>
      </td>

    </tr>
    <% end %>
  </table>
</div>

<% end %>
